*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

input, button {
  font-family: inherit;
  outline: none;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.page {
  display: flex;
  block-size: 100%;
  font-size: 18px;
  color: #fff;
  background: #1b1919;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.button {
  position: relative;
  padding: 0;
  width: 100%;
  height: 34px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.content {
  display: flex;
  align-items: end;
  margin: auto;
  padding: 20px 0;
  width: 1140px;
  column-gap: 32px;
}


.search-form {
  display: grid;
  grid-template-columns: min-content max-content auto;
  align-items: end;
  column-gap: 40px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  line-height: 21.6px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  min-height: 27px;
  font-size: 18px;
  color: #fff;
  border: 1px solid;
  border-color: #fff transparent;
  background: transparent;
}

.search-form__textfield:not(:hover):active {
  border-color: #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255 / 70%);
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label + .search-form__label {
  margin-left: 11px;
}

.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__textfield:not(:active, :hover):focus-visible
{
  outline: 1px solid;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  position: relative;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  inset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background: #fff;
}

.search-form__label-text {
  line-height: 1;
}


.title {
  line-height: 70.5px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
}


.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}


.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 26px;
  width: 400px;
}

.content__list {
  padding: 1px;
  height: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-of-type) { /* в данном случае равносильно :not(:last-child) */
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  padding: 2px; /* нельзя заменить на margin, по макету у активной карточки есть фон или макет 💩? */
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current,
.content__card-link:focus-visible {
  background: #545050;
}


.content__video-card {
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
}

.content__video-card-description {
  /*
    максимальная ширина здесь не нужна, так как картинке справа запрещено сжиматься (flex-shrink: 0),
    это позволит менять размер картинки без подгонки максимальной ширины описания
  */
  line-height: 16px;
  overflow-wrap: break-word; /* для длинных беспробельных слов */
  font-size: 18px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 193px;
  height: 103px;
  object-fit: cover;
  /*
    object-position: 50% 50% применяется по умолчанию, если присутствует свойство object-fit
    потому явно указывать его не стоит, если не нужно поведение отличное от центрирования
  */
}